{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="flash-notice">
   <script style="background-color: blueviolet;">  alert("+ {{ message }}+") </script>      
    </div>
{% endfor %}


    <h1>List of production lines</h1>

    <button type="button"><a href="http://localhost:3000/add">Add a line</a></button>
    <table>
<thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>description</th>
        <th>productionTime</th>
       <th>CPU</th>
    </tr>
</thead>
<tbody>
  {% for production in productions %}
    <tr>
      <td>{{ production.id }}</td>
      <td>{{ production.name }}</td> 
      <td>{{ production.description }}</td> 
      <td>{{ production.productionTime }}</td> 
      <td>{{ production.cpu.id  }}</td>
      <td><button type="button"><a href="http://localhost:3000{{ path('modify', {'id': production.id}) }}">Modify</a></button></td>
      <td><button type="button"><a href="http://localhost:3000{{ path('delete_production', {'id': production.id}) }}"> [X] </a></button></td>
    </tr>
      {% endfor %}
</tbody>
    </table>
    




{% endblock %} 